body{
  margin:0;
  font-family:Arial;
  background:#f4f4f6;
}

.header{
  background:#111;
  color:#ffd400;
  text-align:center;
  padding:20px;
}

.container{
  padding:30px;
}

.products{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(220